<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://nuup.org/wp-content/uploads/2021/07/cropped-LOGO_NUUP_NEGATIVO_HORIZONTAL-1-170x45.png" alt="" height="32" class="d-inline-block align-text-top">
      {{title}} v{{version}}
    </a>    
  </div>
</nav>

<div class="container pt-4" *ngIf="weather">  
  <div class="row">    
    <div class="col text-center pb-4">      
      <h1>{{place}}</h1>
      <p class="card-text">Coordenadas {{weather.lat}}, {{weather.lon}}</p>
    </div> 
  </div>
  <div class="row">    
    <div class="col-6">      
      <div class="card bg-warning text-center p-4">        
        <h3>{{current.dt * 1000 | date: 'EEEE, d MMMM, y' | titlecase}}</h3>
        <img src="http://openweathermap.org/img/wn/{{current.weather[0].icon}}@2x.png" class="mx-auto d-block" alt="..." width="118px">        
        <h1>{{currentTemp | number: '1.0-0'}} °С</h1>        
        <div class="card-body">
          <p class="card-text">{{current.weather[0].description | titlecase}}</p>
          <p class="card-text">Viento <span class="badge bg-primary">{{current.wind_speed}}</span> km/h., Humedad <span class="badge bg-primary">{{current.humidity}}</span> %, Nubes <span class="badge bg-primary">{{current.clouds}}</span> %</p>          
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-2 day-item {{(currentIndex == i) ? 'bg-warning': ''}}" *ngFor="let daily of dailyData; index as i">
        <div class="card-body" (click)="changeCurrent(i)">
          <div class="row">
            <div class="col">
              <h5 class="card-title">
                <img src="http://openweathermap.org/img/wn/{{daily.weather[0].icon}}@2x.png" alt="..." width="32px">
                {{daily.dt * 1000 | date: 'EEEE, d MMM, y' | titlecase}}
              </h5>                        
            </div>
            <div class="col">
              <h5 class="card-text float-end">{{daily.temp.max | number: '1.0-0'}} / {{daily.temp.min | number: '1.0-0'}} °С</h5>          
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="row">    
    <div class="col-12">
      <p class="card-text"><a href="javascript:;" (click)="showHistory()">Ver historial</a></p>
      <div class="card mb-2" *ngFor="let history of historyData; index as i">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">                
                {{history.id}}: {{history.date | date: 'dd/MMM/y hh:mm:ss':'UTC' | uppercase}}
              </h5>                        
            </div>
            <div class="col">
              <h5 class="card-text float-end">{{history.temp | number: '1.0-0'}} °С</h5>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">    
    <div class="col text-center pt-4">      
      <p class="card-text">Developer: <a href="https://www.victorvr.com" target="_blank">Víctor Valencia Rico</a></p>
    </div> 
  </div>
</div>

<router-outlet></router-outlet>
